/* add css style*/
@font-face {
  font-family: "Poppins";

  src: local("fonts/popins")format("otf");
  src: url("https://www.fontsquirrel.com/fonts/poppins")format("otf");
}



h1 {
    color: red;
  }

p {
    color: green;
    font-family: "Poppins";
}

.avatar_user {
    width: 75px;

}
